#rear-window {
  line-height: 12px;
  font-weight: normal;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 12px;
  color: black;
  position: absolute;
  z-index: 99999;
  top: 20px;
  left: 50px;
  padding: 7px;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 2px 2px 10px #999;
}
#rear-window ul {
  margin: 0;
  padding: 0;
}
#rear-window ul li {
  list-style: none;
  padding: 2px;
  cursor: pointer;
}
#rear-window .column {
  float: left;
  overflow-y: scroll; /* auto */
  overflow-x: hidden;
  min-width: 150px;
  height: 205px;
  background-color: white;  
}
 #rear-window .column .variable {
   background-color: #fff4d1;
   height: 100%;
 }
 #rear-window .column .variable #type {
   font-style: italic;
   text-align: center;
   border-bottom: 1px solid #aaa;
   padding: 2px 0;
 }
 #rear-window .column .variable #value {
   font-family: 'Lucida Console', 'Monaco', monospace;
   margin-top: 10px;
 }
 #rear-window li.category {
   background-color: #e5edfc;
 }
 #rear-window li:hover {
   background-color: #FFF4D1;
 }
 #rear-window li.selected {
   background-color: #3838ff;
   color: white;
 }
 #rear-window .count {
   font-family:arial;
   white-space:nowrap;
   padding:1px 4px;
   margin-top:-2px;
   margin-right:4px;
   text-align:left;
   line-height:normal;
   font-weight:bold;
   font-size: 11px;
   border-radius:7px;
   background-color:#8097bd;
   color:white;
   float: right;
 }
 
/* 
 * Used to determine in rear-window.js when CSS has been loaded
 * It's a bit of a hack, from http://stackoverflow.com/questions/3078584/link-element-onload
 * If you ever override this CSS with your custom CSS, keep this last definition as is.
 */
#rear-window-cssloaded {
  display: none;
}